<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringModelInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
   ">


	<!-- 如果要引用其他项目的spring配置，必须要先在maven中依赖其他项目-->
	<!--<import resource="classpath*:conf/spring/spring-quartz.xml" />-->
	<import resource="classpath*:conf/spring/spring-cache.xml" />


	<!--com-cmel模块有问题 现在不使用,研究好camel之后在打开下面的注释 -->
	<!--<import resource="classpath*:META-INF/spring/spring-camel.xml"/>-->
	
	

</beans>